


<div class="text-layout">
  <h1>Paipes Báisicos</h1>

  <p>
      Pipes incluidos em Angular - Usualmente com Common Module
  </p>
</div>

<div class="grid">
    <div class="col-4">

        <p-card header="lowercase"
                [subheader]="nameLower | lowercase">
           {{ nameLower | lowercase}}
        </p-card>

    </div>
    <div class="col-4">

        <p-card header="uppercase"
                [subheader]="nameLower | uppercase">
           {{ nameLower | uppercase}}
        </p-card>

    </div>
    <div class="col-4">

        <p-card header="titlecase"
                [subheader]="nameLower | titlecase">
           {{ name | titlecase}}
        </p-card>

    </div>
  
</div>

