


<div class="text-layout">
  <h1>Paipes Báisicos</h1>

  <p>
      Pipes incluidos em Angular - Usualmente com Common Module
  </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="uppercase"></p-card>
    </div>
    <div class="col-4">B</div>
    <div class="col-4">C</div>
  
</div>

<!-- <div class="card flex flex-row flex-wrap">
    <div class="flex align-items-center justify-content-center font-bold text-blue-500 m-2 shadow-3" style="min-width: 200px; min-height: 100px">1</div>
    <div class="flex align-items-center justify-content-center font-bold text-blue-500 m-2 shadow-3" style="min-width: 200px; min-height: 100px">2</div>
    <div class="flex align-items-center justify-content-center font-bold text-blue-500 m-2 shadow-3" style="min-width: 200px; min-height: 100px">3</div>
</div> -->