

<div class="text-layout">
    <h1>Pipe nao comuns</h1> 
    <p>
        Pipes incluidos em Angular - Usualmente com Common Module
    </p>
</div>



 <div class="grid">

    <div class="col md-6">
       <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            
        <p> Saludo {{ nome }}, es un placer {{genero | i18nSelect: invitacionMap }} a nuestro envento.</p>
         
         <button 
              (click)="cambiarCliente()" 
              pButton  
              label="  Cambiar persona" 
              class="p-button-help"></button>

       </p-fieldset>
    </div>

    <div class="col md-6">
       <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
          
        <p>Actualmente  {{ clientes.length | i18nPlural: clientesMapa }}</p>

        <button 
               pButton 
               label="Borrar cliente" 
               (click)="borrarCliente()"
               class="p-button-danger"></button>
       
       </p-fieldset>
    </div>


     <div class="col md-6">
       <p-fieldset legend="Slice Pipe" [toggleable]="true">
          
        <b>Original</b>
        <pre>{{ clientes }}</pre>

        <b>slice:0:3</b>
        <pre>{{ clientes | slice:0:3 }}</pre>
       
       </p-fieldset>
    </div>  


     <div class="col md-6">
       <p-fieldset legend="Json Pipe" [toggleable]="true">
         
        <pre>
            {{ heroes | json }}
        </pre>

       </p-fieldset>
    </div>



     <div class="col md-6">
       <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
          
           <ul>
               <li *ngFor="let item of persona | keyvalue">
                   <b>{{ item.key | titlecase }}: {{ item.value }}</b>
               </li>
           </ul>

       </p-fieldset>
    </div>



     <div class="col p-md-6">
       <p-fieldset legend="Async Pipe" [toggleable]="true">
          
       <pre>{{ MiObservable | async }}</pre>
       <pre *ngIf="!(valorPromesa | async )">Resolvendo Promesa</pre>
       <pre>{{ valorPromesa | async}}</pre>

       </p-fieldset>
    </div>


     



</div>