

<div class="text-layout">

   <h1>Pipes personalizados</h1>
   <p>Pipes creados por {{ 'nosotros' | maiusculas: enMauisculas }} </p>

</div> 



<p-toolbar>

    <div class="p-toolbar-group-left"></div>
    
    <div class="p-toolbar-group-right">


        <button pButton
                label="toggle maysculas"
                (click)="cambiar()"
                class="mr-1 p-button-warning">
        </button>

        <button pButton 
                icon="pi pi-sort"
                label="Por nombre"
                class="mr-1"></button>

        <button pButton 
                icon="pi pi-sort"
                label="Valores"
                class="mr-1 p-button-success"></button> 

        <button pButton 
                icon="pi pi-sort"
                label="Por color"
                class="mr-1 p-button-help"></button>
    </div>

</p-toolbar>


<div class="grid">
     <div class="col mt-3">

        <p-table [value]="heroes">
            <ng-template pTemplate="header">
                <tr>
                    <th>nombre</th>
                    <th>Vuela</th>
                    <th>Color</th>
                  
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroe>
                <tr>
                    <td>{{heroe.nombre}}</td>
                    <td>{{heroe.vuela | vuela}}</td>
                    <td>{{heroe.color}}</td>
                   
                </tr>
            </ng-template>
        </p-table>
        
     </div>
</div>